@model UserSettingsViewModel
@{ ViewData["Title"] = "Login Facility "; }

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>
}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="modal fade show overflow-auto" id="exampleModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" data-keyboard="false" data-backdrop="static" aria-modal="true">
                    <div class="modal-dialog modal-lg" role="document" style="margin-top: 2% !important;max-width:500px;">
                        <div class="modal-content">
                            <div class="modal-header" style="background:#d9534f;color:white;">
                                <h5 class="modal-title" id="exampleModalLabel">Login By User/Delegate User</h5>
                            </div>
                            <div class="modal-body">
                                @*<form class="forms-sample mt-1" asp-controller="LoginFacility" asp-action="Index" id="frmFirstTimeUserSetting" method="post" enctype="multipart/form-data">*@
                                <input type="hidden" asp-for="UserDetails.UserID" id="hdnuserid" />
                                <input type="hidden" value="@ViewBag.IsEditForLoggedInUser" id="hdnIsEditForLoggedInUser" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-auto">
                                            <label class="control-label">User</label>
                                            <select asp-for="UserDetails.FacilityID" asp-items="Model.Facilitys" class="form-control required" onfocus="HideError('error_ddlModule')">
                                            </select>
                                            <span id="error_ddlModule" style="display: none">Select User</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" id="btnVerifysave" class="btn btn-primary" value="Proceed" onclick="verifyData()" />
                                </div>
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>

@section scripts
{
    <environment names="Development">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/vendors/jquery-steps/jquery.steps.min.js" asp-append-version="true"></script>
        <script src="~/vendors/jquery-validation/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/js/wizard.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/vendors/jquery-steps/jquery.steps.min.js" asp-append-version="true"></script>
        <script src="~/vendors/jquery-validation/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/js/wizard.js"></script>
    </environment>
    <style>
        .HideBubble {
            display: none;
        }

        .ShowBubble {
            margin-top: -30px !important;
        }
    </style>
    <script>

        function HideError(SpanID) {
            var ErrorMsgID = document.getElementById(SpanID);
            ErrorMsgID.className = "HideBubble";
            return false;
        }
        //call this function after click on confirm delete button
        var verifyData = function () {
            var modulename = $('#UserDetails_FacilityID').val();
            if (!modulename) {
                $('#error_ddlModule').html("Please Select User");
                $('#error_ddlModule').css('color', 'red');
                $('#error_ddlModule').show();
                return false
            }

        $.ajax({
            type: "POST",
            url: "/DelegateUser/Index",
            data: { id: modulename },
            success: function (result) {
                $("#exampleModal").modal('hide');
/*                alert('res ' + result.res);*/
                if (result.res == 'fac') {
                    window.location.href = "@Url.Content("~/LoginFacility/Index")";
                }
                else if (result.res == 'fin') {
                    window.location.href = "@Url.Content("~/DashboardFinance/Index")";
                }
                else if (result.res == 'hr') {
                    window.location.href = "@Url.Content("~/DashboardHR/Index")";
                }
                else if (result.res == 'del') {
                    window.location.href = "@Url.Content("~/ExpenseClaim/Index")";
                }
                else {
                    window.location.href = "@Url.Content("~/Dashboard/Index")";
                }
            },
            error: function () {
                $("#exampleModal").modal('hide');
            }
        });
        }


    </script>
}
