@model IEnumerable<EClaimsEntities.Models.MstUser>

@{
    ViewData["Title"] = "Manage User ";
}

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>
}
<div class="row" id="info-notification-row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card card-inverse-info">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-alert icon-md text-info"></i>
                            <div class="ml-3">
                                <h6 class="text-facebook">Import claim data</h6>
                                <p class="mt-2 text-muted card-text">You can import claim data using excel sheet. Please download the sample template by clicking on "Excel Template" button.</p>
                                <p class="mt-2 text-muted card-text">Please do not modify the file name while importing the claims.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 align-self-end">
                        <a href="#" class="text-danger pl-2" onclick="$('#info-notification-row').toggle();">Dismiss</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 summary-actions" id="btnRow">
        <div class="text-align-right mb-4">
            <a class="btn btn-primary btn-icon-text" asp-action="Create">
                Add New User
                <i class="mdi mdi-library-plus btn-icon-append"></i>
            </a>
            <button type="button" class="btn btn-success btn-icon-text" id="btnimportclaims" data-toggle="modal" data-target="#dynamic_popup">
                Import Users
                <i class="mdi mdi-file-import btn-icon-append"></i>
            </button>
            <a class="btn btn-primary btn-icon-text" asp-action="ExcelDownload">
                Excel Template
                <i class="mdi mdi-file-excel btn-icon-append"></i>
            </a>
        </div>
    </div>
</div>

<div class="modal fade show" id="dynamic_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Import Users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" asp-action="ImportExcelFile">
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <input type="file" name="FormFile" id="FormFile" class="form-control file-upload-info">
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-success" type="submit" value="Import" id="btnimport" onclick="return GetFileSize();" />
                            <input class="btn btn-light" data-dismiss="modal" value="Close" onclick="ClosePopUp()" style="width: 90px;"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ViewDetails">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0 font-weight-bold">View User</h4>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmailAddress)
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailAddress)
                                            </td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    <label class="badge badge-success">Active</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-danger">Inactive</label>
                                                }
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-outline-primary" onclick="approvedConfirm(@item.UserID)">Bank Details</a>
                                                @*<a href="#" id="btnEdit" class="btn btn-outline-primary" data-id="@item.UserID">Bank Details</a>*@
                                                @*@Html.ActionLink("Bank Details", "BankDetails", new { id = item.UserID }, new { @class = "btn btn-outline-primary" })*@
                                                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-outline-primary" })
                                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog" data-backdrop="static" aria-labelledby="Approvedconformation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogApprovedLabel">User Bank Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="dvPartial"></div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="Close" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <environment names="Development">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dynamic_popup').on('hidden.bs.modal', function () {
                $('#dynamic_popup form')[0].reset();
            });
        });
        var approvedConfirm = function (UserId) {
            //$('#deletedValueName').text(val);
            $("#hiddenUserId").val(UserId);
            var obj = {};
            obj.UserId = UserId;
            $.ajax({
                url: 'User/ViewBankDetails',
                data: JSON.stringify(obj),
                type: 'POST',
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#dvPartial").html(response);
                    $("#MyPopup").modal("show");
                }
            });
        }

        function ClosePopUp() {
            window.location.reload(1);
        }

        //get file size
        function GetFileSize() {
            var log = document.getElementById("Errorlog");
            if ($("#FormFile").val() == "") {
                alert("Please Select File");
                $("#dynamic_popup").modal("hide");
                return false;
            }
            else {
                return checkfile();
            }
        }

        function checkfile() {
            var file = $("#FormFile").val();
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                // alert(extension);
                switch (extension) {
                    case 'xls':
                    case 'xlsx':
                        flag = true;
                        return filechecking();
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                alert("You can upload only xls,xlsx extension file");
                $("#dynamic_popup").modal("hide");
                return false;
            }
        }

        function filechecking() {
            var file = $("#FormFile").val();
            var filename = file.replace(/^.*[\\\/]/, '')
            var e = filename.substring(0, 8);
            if (e == "Employee") {
                return true;
            }
            else {
                $.toast({
                    text: 'Unable to upload the File,please Check the File Name(Employee)',
                    hideAfter: true,
                    position: 'top-right',
                    icon: 'error'
                })
                $("#dynamic_popup").modal("hide");
                return false;
            }
        }
    </script>
}