@model EClaimsWeb.Models.PVGClaimDetailVM
@{
    var error = TempData["Error"] as string;
    ViewData["Title"] = "PV-Giro ";
    int Counter = 1;
}
@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/select2-bootstrap.min.css" asp-append-version="true">
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
    </environment>
    <style>
        .HideBubble {
            display: none;
        }
        /*        .ShowBubble {
            margin-top: -30px !important;
        }*/
    </style>
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="mb-0 font-weight-bold">PV-Giro Claim Details</h4>
            <div class="col-md-12 summary-actions">
                <div class="text-align-right mb-4">
                    @if (@TempData["ApprovedStatus"].ToString() == "1")
                    {
                        <button type="button" class="btn btn-primary btn-icon-text" onclick="verifyConfirm()">
                            Verify
                            <i class="mdi mdi-pencil-box-outline btn-icon-append"></i>
                        </button>
                    }
                    @if (@TempData["ApprovedStatus"].ToString() == "2")
                    {
                        <button type="button" class="btn btn-primary btn-icon-text" onclick="approvedConfirm()">
                            Approve
                            <i class="mdi mdi-pencil-box-outline btn-icon-append"></i>
                        </button>
                    }
                    @if (@TempData["ApprovedStatus"].ToString() == "1" || @TempData["ApprovedStatus"].ToString() == "2")
                    {
                        <button type="button" class="btn btn-danger btn-icon-text" onclick="rejectConfirm()">
                            Reject
                            <i class="mdi mdi-pencil-box-outline btn-icon-append"></i>
                        </button>
                    }

                    @if (@ViewBag.ShowVoidBtn == 1)
                    {
                        <button type="button" class="btn btn-danger btn-icon-text" onclick="voidConfirm()" id="btnVoid">
                            @ViewBag.ShowVoidText
                            <i class="mdi mdi-pencil-box-outline btn-icon-append"></i>
                        </button>
                    }
                    @if (@ViewBag.Approvalstatus.ToString() == "4" || @ViewBag.UserEditStatus.ToString() == "4")
                    {
                        <a href="@Url.Action("Create", new { id = @ViewBag.PVGCID, Updatestatus = "Edit" })" class="btn btn-info btn-icon-text" title="Amend">
                            Amend
                            <i class="mdi mdi-pencil-box-outline btn-icon-append"></i>
                        </a>
                    }
                    @if (@ViewBag.Approvalstatus.ToString() == "10")
                    {
                        <a href="@Url.Action("Create", new { id = @ViewBag.PVGCID, Updatestatus = "Recreate" })" class="btn btn-info btn-icon-text" title="Recreate">
                            Recreate
                            <i class="mdi mdi-pencil-box-outline btn-icon-append"></i>
                        </a>
                    }
                    <button type="button" class="btn btn-secondary btn-icon-text" onclick="Print_button();">
                        Print
                        <i class="mdi mdi-printer btn-icon-append"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon-text" onclick="RedirectView();">
                        Close
                        <i class="mdi btn-icon-append"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <h5 class="col-md-12 card-title">Basic Info</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Department</th>
                            <th>Facility</th>
                            <th>Payment Mode</th>
                            <th>Date</th>
                            <th>Voucher No</th>
                            <th>Claim #</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label id="lblName">@Model.PVGClaimVM.Name</label></td>
                            <td><label id="lblCompany">@Model.PVGClaimVM.Company</label></td>
                            <td><label id="lblDepartment">@Model.PVGClaimVM.DepartmentName</label></td>
                            <td><label id="lblFacility">@Model.PVGClaimVM.FacilityName</label></td>
                            <td><label id="lblCurrentDate">@Model.PVGClaimVM.PaymentMode</label></td>
                            <td><label id="lblCurrentDate">@Convert.ToDateTime(Model.PVGClaimVM.CreatedDate).ToString("dd/MM/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</label></td>
                            <td><label id="lblVoucherNo">@Model.PVGClaimVM.VoucherNo</label>
                            <td><label id="lblPVGClaimNo">@Model.PVGClaimVM.PVGCNo</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-4">
                <h5 class="col-md-12 card-title table-summary">Particulars of payment</h5>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Item #</th>
                                    <th>Payee Name</th>
                                    <th>Facility</th>
                                    <th>Particulars of payment</th>
                                    <th>Invoice no</th>
                                    <th>Expense Category</th>
                                    <th>Amount</th>
                                    <th>GST</th>
                                    <th>Total Amount With GST</th>
                                    @if (Model.PVGClaimVM.PaymentMode == "GIRO" || Model.PVGClaimVM.PaymentMode == "TT" || Model.PVGClaimVM.PaymentMode == "Fast Payment" || Model.PVGClaimVM.PaymentMode == "RTGS" || Model.PVGClaimVM.PaymentMode == "RTGS")
                                    {
                                        <th>Bank</th>
                                        <th>Bank Code</th>
                                        <th>Bank SWIFT BIC</th>
                                        <th>Branch Code</th>
                                        <th>Bank Account</th>
                                    }
                                    else
                                    {
                                        <th>Mobile/UEN No</th>
                                    }
                                    <th>Account Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DtPVGClaimVMs)
                                {
                                    <tr>
                                        <td>@Counter</td>
                                        <td>@item.Payee</td>
                                        <td>@item.Facility</td>
                                        <td>@item.Particulars</td>
                                        <td>@item.InvoiceNo</td>
                                        <td>@item.ExpenseCategory</td>
                                        <td class="text-align-right">$@Math.Round((decimal)item.Amount, (int)2).ToString("###,##,##0.00")</td>
                                        <td class="text-align-right">$@Math.Round((decimal)item.GST, (int)2).ToString("###,##,##0.00")</td>
                                        <td class="text-align-right">$@Math.Round((decimal)item.AmountWithGST, (int)2).ToString("###,##,##0.00")</td>
                                        @if (Model.PVGClaimVM.PaymentMode == "GIRO" || Model.PVGClaimVM.PaymentMode == "TT" || Model.PVGClaimVM.PaymentMode == "Fast Payment" || Model.PVGClaimVM.PaymentMode == "RTGS")
                                        {
                                            <td>@item.Bank</td>
                                            <td>@item.BankCode</td>
                                            <td>@item.BankSWIFTBIC</td>
                                            <td>@item.BranchCode</td>
                                            <td>@item.BankAccount</td>
                                        }
                                        else
                                        {
                                            <td>@item.Mobile</td>
                                        }
                                        <td class="tableAccountCode">@item.AccountCode</td>
                                        @*<td class="text-align-right">$@Math.Round((decimal)item.AmountWithGST, (int)2).ToString("###,##,##0.00")</td>*@
                                    </tr>
                                    Counter++;
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Grand Total</th>
                                    <td class="text-align-right">$@Math.Round((decimal)@Model.PVGClaimVM.GrandTotal, (int)3).ToString("#,##0.00")</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Grand GST</th>
                                    <td class="text-align-right">$@Math.Round((decimal)@Model.PVGClaimVM.GrandGST, (int)3).ToString("#,##0.00")</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Total Amount with GST</th>
                                    <td class="text-align-right">$@Math.Round((decimal)@Model.PVGClaimVM.TotalAmount, (int)3).ToString("#,##0.00")</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="template-demo mt-4">
                <div class="row">
                    <label class="col-4 col-lg-2 col-form-label">Attachments:</label>
                    <div class="">
                        @foreach (var itemFile in Model.PVGClaimFileUploads)
                        {
                            <label class="form-group">
                                <a href="@Url.Action("Download", new { id = @itemFile.FilePath, name = @itemFile.FileName,claim = "pvg" })" title="@Html.Encode(@itemFile.FileName)">
                                    @itemFile.FileName
                                </a>
                            </label>
                            <br />
                            @*<a href="#" id="comments" data-type="textarea" data-pk="1" class="editable editable-pre-wrapped editable-click">File 1</a>*@
                        }
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <h5 class="col-md-12 card-title table-summary">Summary of Accounts Allocation</h5>
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Account Code</th>
                                    <th>Facility</th>
                                    <th>Expense Type</th>
                                    <th>Description</th>
                                    <th>Tax Class</th>
                                    <th>Amount (Excluding GST)</th>
                                    <th>GST</th>
                                    <th>Amount (Including GST)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DtPVGClaimSummaries)
                                {
                                    if (item.ExpenseCategory != "DBS")
                                    {
                                        <tr>
                                            <td>@item.AccountCode</td>
                                            <td>@item.Facility</td>
                                            <td>@item.ExpenseCategory</td>
                                            <td>@item.Description</td>
                                            <td class="text-align-right">@Math.Round((decimal)item.TaxClass, (int)3).ToString("#,##0.00")</td>
                                            <td class="text-align-right">$@Math.Round((decimal)item.Amount, (int)2).ToString("###,##,##0.00")</td>
                                            <td class="text-align-right">$@Math.Round((decimal)item.GST, (int)2).ToString("###,##,##0.00")</td>
                                            <td class="text-align-right">$@Math.Round((decimal)item.AmountWithGST, (int)2).ToString("###,##,##0.00")</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@item.AccountCode</td>
                                            <td></td>
                                            <td>@item.ExpenseCategory</td>
                                            <td>@item.Description</td>
                                            <td></td>
                                            <td class="text-align-right">$@Math.Round((decimal)item.Amount, (int)2).ToString("###,##,##0.00")</td>
                                            <td class="text-align-right">$@Math.Round((decimal)item.GST, (int)2).ToString("###,##,##0.00")</td>
                                            <td class="text-align-right">$@Math.Round((decimal)item.AmountWithGST, (int)2).ToString("###,##,##0.00")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-1" id="QuerySection">
                <h5 class="col-md-12 card-title table-summary"></h5>
                <div class="col-md-7 grid-margin grid-margin-md-0 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Queries</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pt-1 pl-0">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-1 pl-0">
                                                <div class="d-flex align-items-center">
                                                    <div class="ml-3" id="chatarea">

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Message</h4>
                            <div class="add-items d-flex pt-2">
                                <textarea class="form-control" id="newmessage_messagebody" rows="4" spellcheck="false" placeholder="Type message"></textarea>
                                <br />
                                <span id="error_txtMessage" class="HideBubble">Enter Query</span>
                                <select id="queryusers" class="js-example-basic-multiple w-100" style="width: 100% !important;" asp-items="@ViewBag.queryusers" multiple>
                                </select>
                                <br />
                                <span id="spSubSelectType" class="HideBubble">Please select user</span>

                            </div>
                            <button id="newmessage_sendbutton" class="add btn btn-primary font-weight-bold todo-list-add-btn" onclick="return sendNewMessage();">Send</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <h5 class="col-md-12 card-title table-summary"></h5>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                Audit Trail
                            </h4>
                            <ul class="bullet-line-list pt-2 mb-0">
                                @foreach (var itemAudit in Model.PVGClaimAudits)
                                {
                                    <p>
                                        @itemAudit.Description
                                    </p>
                                    @*<li>
                                        @if (itemAudit.Action.ToString() == "1" && @itemAudit.Description.ToString().ToLower().Contains("created"))
                                        {
                                            <h6>
                                                New
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "1" || itemAudit.Action.ToString() == "2") && @itemAudit.Description.ToString().ToLower().Contains("verification"))
                                        {
                                            <h6>
                                                Awaiting verification
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "2" || itemAudit.Action.ToString() == "3") && @itemAudit.Description.ToString().ToLower().Contains("approval"))
                                        {
                                            <h6>
                                                Awaiting Signatory approval
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "3") && @itemAudit.Description.ToString().ToLower().Contains("notification"))
                                        {
                                            <h6>
                                                Approved
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "3") && @itemAudit.Description.ToString().ToLower().Contains("approved"))
                                        {
                                            <h6>
                                                Approved
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "4") && @itemAudit.Description.ToString().ToLower().Contains("reject"))
                                        {
                                            <h6>
                                                Rejected
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "4") && @itemAudit.Description.ToString().ToLower().Contains("notification"))
                                        {
                                            <h6>
                                                Rejected
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "-5") && @itemAudit.Description.ToString().ToLower().Contains("void"))
                                        {
                                            <h6>
                                                Requested to Void
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "-5") && @itemAudit.Description.ToString().ToLower().Contains("void"))
                                        {
                                            <h6>
                                                Requested to Void
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "5") && @itemAudit.Description.ToString().ToLower().Contains("void"))
                                        {
                                            <h6>
                                                Voided
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "5") && @itemAudit.Description.ToString().ToLower().Contains("void"))
                                        {
                                            <h6>
                                                Voided
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "5") && @itemAudit.Description.ToString().ToLower().Contains("notification"))
                                        {
                                            <h6>
                                                Voided
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "0") && @itemAudit.Description.ToString().ToLower().Contains("query"))
                                        {
                                            <h6>
                                                Query
                                            </h6>
                                        }
                                        else if ((itemAudit.Action.ToString() == "1" || itemAudit.Action.ToString() == "2") && @itemAudit.Description.ToString().ToLower().Contains("amended by"))
                                        {
                                            <h6>
                                                Amended
                                            </h6>
                                        }
                                        <p>
                                            @itemAudit.Description
                                        </p>
                                        <p class="text-muted mb-3 tx-12">
                                            <i class="mdi mdi-clock-outline"></i>
                                            @itemAudit.AuditDateTickle
                                        </p>
                                    </li>*@
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogVerified" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="verifiedconformation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogVerifiedLabel">Verify</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Do you want to verify?
                            </span>
                            <strong id="deletedValueName">

                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary mr-2" value="Yes" onclick="verifyData()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogApproved" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Approvedconformation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogApprovedLabel">Approve</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Do you want to Approve?
                            </span>
                            <strong id="deletedValueName">

                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary mr-2" value="Yes" onclick="approveData()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogReject" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Rejectconformation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogRejectLabel">Request to Amend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                <label>Reason : </label>
                                <input type="text" name="txtReason" id="txtReason" maxlength="140" class="form-control" />
                            </span>
                            <strong id="deletedValueName">

                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary mr-2" value="Save" onclick="rejectData()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogVoid" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Voidconformation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogVoidLabel">Void</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                <label>Reason : </label>
                                <input type="text" name="txtVoidReason" id="txtVoidReason" maxlength="140" style="width: 450px !important;" class="form-control" onfocus="HideError('sptxtVoidReason')" />
                                <span id="sptxtVoidReason" style="display: none"></span>
                            </span>
                            <strong id="deletedValueName">

                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnVoidsave" class="btn btn-primary mr-2" value="Save" onclick="voidData()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <environment names="Development">

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/js/select2.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/js/select2.js"></script>

    </environment>
    <script type="text/javascript">
            (function ($) {
                $(document).ready(function ()
                {
                    //alert('on load');
                    updateChatArea();
                    var access = '@ViewBag.Access';
                    var ApprovedStatus = '@ViewBag.Approvalstatus';
                    if (access == "1") {
                        if (ApprovedStatus == "2" || ApprovedStatus == "1" || ApprovedStatus == "6" || ApprovedStatus == "7") {
                            document.getElementById('QuerySection').style.display = 'block';
                        }
                        else {
                            document.getElementById('QuerySection').style.display = 'none';
                        }
                    }
                    else {
                        document.getElementById('QuerySection').style.display = 'none';
                    }
                });
        })(jQuery);

        $(".js-example-basic-multiple").select2({
            placeholder: "Select user"
        });

         function Print_button() {
            var id = @ViewBag.PVGCID;
            //alert('id ' + id);
            $.ajax({
                //contentType: 'application/json; charset=utf-8',
                //dataType: "html",
                type: 'POST',
                url: "/PVGIROClaim/GetPrintClaimDetails",
                data: { id: id },
                success: function (data) {
                    var headstr = "<html><head><title>Expense Claim Details</title></head><body>";
                    var footstr = "</body>";
                    var oldstr = document.body.innerHTML;
                    document.body.innerHTML = headstr + data + footstr;
                    window.print();
                    document.body.innerHTML = oldstr;
                    location.reload(true);
                    return false;
                }
            });
        }

        //this is only display bootstrap modal pop up dialog
        var verifyConfirm = function () {
            $('#dialogVerified').modal('show');
            }

            var approvedConfirm = function () {
                //$('#deletedValueName').text(val);
                $('#dialogApproved').modal('show');
            }

            var rejectConfirm = function () {
                //$('#deletedValueName').text(val);
                $('#dialogReject').modal('show');
            }

            var voidConfirm = function () {
                //$('#deletedValueName').text(val);
                 $('#txtVoidReason').val('@ViewBag.VoidReason');
                $('#dialogVoid').modal('show');
            }

        //call this function after click on confirm delete button
        var verifyData = function () {
        $('#divLoading').show();
        //var id = $('#id').val();
           var id = '@ViewBag.PVGCID ';
        $.ajax({
            type: "POST",
            url: "/PVGIROClaim/UpdateStatus",
            data:{id: id},
            success: function (result) {
                $("#dialogVerified").modal('hide');
                 if (result.res == '0') {
                                window.location.href = "@Url.Content("~/PVGIROClaim/Details/")" + id;
                            }
                            else {
                                window.location.href = "@Url.Content("~/PVGIROClaim/FinanceExpense/")";
                            }
            },
            error: function () {
                $("#dialogVerified").modal('hide');
            }
        });
        }


            //call this function after click on confirm delete button
        var approveData = function () {
        $('#divLoading').show();
        //var id = $('#id').val();
           var id = '@ViewBag.PVGCID ';
        $.ajax({
            type: "POST",
            url: "/PVGIROClaim/UpdateStatus",
            data:{id: id},
            success: function (result) {
                $("#dialogApproved").modal('hide');
                 if (result.res == '0') {
                                window.location.href = "@Url.Content("~/PVGIROClaim/Details/")" + id;
                            }
                            else {
                                window.location.href = "@Url.Content("~/PVGIROClaim/FinanceExpense/")";
                            }
            },
            error: function () {
                $("#dialogApproved").modal('hide');
            }
        });
        }

               //call this function after click on confirm delete button
        var rejectData = function () {
        //var id = $('#id').val();
            var reason = $('#txtReason').val();
            //alert($('#txtReason').val());
            //alert('reason ' + reason);
           var id = '@ViewBag.PVGCID ';
        $.ajax({
            type: "POST",
            url: "/PVGIROClaim/UpdateRejectedStatus",
            data:{id: id,reason: reason},
            success: function (result) {
                $("#dialogReject").modal('hide');
                 if (result.res == '0') {
                                window.location.href = "@Url.Content("~/PVGIROClaim/Details/")" + id;
                            }
                            else {
                                window.location.href = "@Url.Content("~/PVGIROClaim/FinanceExpense/")";
                            }
            },
            error: function () {
                $("#dialogReject").modal('hide');
            }
        });
            }

                  //call this function after click on confirm delete button
        var voidData = function () {
        //var id = $('#id').val();
            var reason = $('#txtVoidReason').val();
            var approvedStatus = '@TempData["ApprovedStatus"].ToString()';
            //alert($('#txtVoidReason').val());
            //alert('reason ' + reason);
            var id = '@ViewBag.PVGCID ';
            if (!reason) {
                $('#sptxtVoidReason').html("Please Enter Void Reason");
                $('#sptxtVoidReason').css('color', 'red');
                $('#sptxtVoidReason').show();
                $('#txtVoidReason').css('border-color', 'red');
                return false;
            }
            $('#btnVoidsave').attr('disabled', 'disabled');
        $.ajax({
            type: "POST",
            url: "/PVGIROClaim/UpdateStatusforVoid",
            data: { id: id, reason: reason, approvedStatus: approvedStatus },
            success: function (result) {
                $("#dialogVoid").modal('hide');
                 if (result.res == '0') {
                                window.location.href = "@Url.Content("~/PVGIROClaim/Details/")" + id;
                            }
                            else {
                                window.location.href = "@Url.Content("~/PVGIROClaim/Index/")";
                            }
            },
            error: function () {
                $("#dialogVoid").modal('hide');
            }
        });
            }


         function sendNewMessage()
        {

             var Message = $("#newmessage_messagebody").val();
             //alert(' Message ' + Message);
             var messagereciverID = $("#queryusers").val();
             //alert(' messagereciverID ' + messagereciverID);
             var EditEcid = '@ViewBag.PVGCID';
             //alert(' EditMcid ' + EditMcid);
            if (Message != '')
            {
                if (messagereciverID != '')
                {
                    var formData = new FormData();
                    formData.append('data', JSON.stringify(
                        {
                            Message: Message,
                            RecieverId: messagereciverID,
                            Cid: EditEcid
                        }
                    ));
                    $.ajax({
                        type: "POST",
                        url: "/PVGIROClaim/AddMessage",
                        data: formData,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            updateChatAreamessages();
                        },
                        error: function () {
                        }
                    });

                    $("#newmessage_messagebody").val("");
                }
                else
                {
                    $('#spSubSelectType').css('color', 'red');
                    $('#spSubSelectType').addClass("ShowBubble");
                    $('#spSubSelectType').removeClass("HideBubble");
                    $('#spSubSelectType').focus();
                    $('#spSubSelectType').show();
                    AutoHide("#spSubSelectType", "3000")
                    return false;

                }
            }
            else
            {
                $('#error_txtMessage').css('color', 'red');
                $('#error_txtMessage').addClass("ShowBubble");
                $('#error_txtMessage').removeClass("HideBubble");
                $('#error_txtMessage').focus();
                $('#error_txtMessage').show();
                AutoHide("#error_txtMessage", "3000")
                return false;
            }
            }

            var EditEcid = '@ViewBag.PVGCID';
            function updateChatArea() {
                //alert('In updateChatArea');
            $.getJSON("@Url.Content("~/PVGIROClaim/GetMessages/?id=")" + EditEcid, function (data) {

                $("#chatarea").html("");
                var x;
                if (data.suspectData.length > 0) {
                    for (var x = 0; x < data.suspectData.length; x++) {
                        if (data.suspectData[x].dataFloat == "R") {
                            $("#chatarea").html(
                                $("#chatarea").html() +
                                "<p class='mb - 0'>" +
                                data.suspectData[x].username + "  " + "=> " + data.suspectData[x].designation + "  on " + "<i>" +
                                data.suspectData[x].postDateTime + "</i>" + "</p>" +
                                "<p class='mb - 0 text-muted text-small'>" +
                                data.suspectData[x].messageBody + "</p>");
                        }
                        else {
                            $("#chatarea").html(
                                $("#chatarea").html() +
                                "<p class='mb - 0'>" +
                                data.suspectData[x].username + "  " + "=> " + data.suspectData[x].designation + "  on " + "<i>" +
                                data.suspectData[x].postDateTime + "</i>" + "</p>" +
                                "<p class='mb - 0 text-muted text-small'>" +
                                data.suspectData[x].messageBody + "</p>");
                        }
                    }
                    var elem = document.getElementById('chatarea');
                    elem.scrollTop = elem.scrollHeight;
                }
                else {
                    $("#chatarea").html("<p class='mb - 0'>No Messages</p>");
                }
            });
        }

        function updateChatAreamessages()
        {
            //alert('In updateChatAreamessages');
            var EditEcid = '@ViewBag.PVGCID';
            //$("#checkmark").show();
            //AutoHide("#checkmark", "1500")
            $.getJSON("@Url.Content("~/PVGIROClaim/GetMessages/?id=")" + EditEcid, function (data) {

                $("#chatarea").html("");
                var x;
                if (data.suspectData.length > 0) {
                    for (var x = 0; x < data.suspectData.length; x++) {
                        if (data.suspectData[x].dataFloat == 'R') {
                            $("#chatarea").html(
                                $("#chatarea").html() +
                                "<p class='mb - 0'>" +
                                data.suspectData[x].username + "  " + "=> " + data.suspectData[x].designation + "  on " + "<i>" +
                                data.suspectData[x].postDateTime + "</i>" + "</p>" +
                                "<p class='mb - 0 text-muted text-small'>" +
                                data.suspectData[x].messageBody + "</p>");
                        }
                        else {
                            $("#chatarea").html(
                                $("#chatarea").html() +
                                "<p class='mb - 0'>" +
                                data.suspectData[x].username + "  " + "=> " + data.suspectData[x].designation + "  on " + "<i>" +
                                data.suspectData[x].postDateTime + "</i>" + "</p>" +
                                "<p class='mb - 0 text-muted text-small'>" +
                                data.suspectData[x].messageBody + "</p>");
                        }
                    }
                    var elem = document.getElementById('chatarea');
                    elem.scrollTop = elem.scrollHeight;
                }
                else {
                    $("#chatarea").html("<p class='mb - 0'>No Messages</p>");
                }
                });
        }

        function RedirectView() {
            window.location.href = "/PVGiroClaim/Index";
        }

        function HideError(SpanID) {
            //alert('Hi');
            var ErrorMsgID = document.getElementById(SpanID);
            ErrorMsgID.className = "HideBubble";
            return false;
        }

        function AutoHide(SpanID, Duration) {
            var Pattern = /^\d+$/;
            var isNumber = Pattern.test(Duration);
            if (isNumber) {
                setTimeout(function () {
                    $(SpanID).addClass("HideBubble");
                    $(SpanID).removeClass("ShowBubble");
                }, Duration);
            }
        }


    </script>
}
