@model IEnumerable<EClaimsWeb.Models.DepartmentViewModel>

@{
    ViewData["Title"] = "Manage Department ";
}

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>
}

<div class="row">
    <div class="col-md-12 summary-actions" id="btnRow">
        <div class="text-align-right mb-4">
            <a class="btn btn-primary btn-icon-text" asp-action="Create">
                Add New Department
                <i class="mdi mdi-library-plus btn-icon-append"></i>
            </a>
        </div>
    </div>
</div>
<div class="row" id="ViewDetails">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0 font-weight-bold">View Department</h4>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Code)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Department)
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Department)
                                            </td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    <label class="badge badge-success">Active</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-danger">Inactive</label>
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new {   id=item.DepartmentID  }, new { @class = "btn btn-outline-primary" })
                                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <environment names="Development">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
    </environment>
}
