@model EClaimsWeb.Models.HODClaimSearchViewModel

@{
    ViewData["Title"] = "Summary ";
    string dAmount;
}

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
        <link rel="stylesheet" href="~/css/site.css">
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
        <link rel="stylesheet" href="~/css/site.css">
    </environment>
}
<style>
    .HideBubble {
        display: none;
    }
</style>
@if (TempData["IsAlternateApproverSet"].ToString() == "True")
{
    <div class="row" id="notification-row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card card-inverse-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="d-flex flex-row align-items-center">
                                <i class="mdi mdi-alert icon-md text-info"></i>
                                <div class="ml-3">
                                    <h6 class="text-facebook">Alternate Approver</h6>
                                    <p class="mt-2 text-muted card-text">You have delegated your approval authority.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 align-self-center">
                            <a id="UserSettings" class="" asp-controller="UserSettings" asp-action="Index">Update Settings</a>
                            <a href="#" class="text-dark pl-2" onclick="$('#notification-row').toggle();">Dismiss</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="row" id="ViewDetails">*@
<div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
    <div class="card border-bottom">
        <div class="card-header" role="tab" id="heading-10">
            <h6 class="mb-0">
                <a data-toggle="collapse" href="#collapse-10" aria-expanded="false" aria-controls="collapse-10" class="collapsed filterCollapse">
                    Filters
                </a>
            </h6>
        </div>
        <form class="forms-sample" id="filterform" asp-controller="HodSummary" asp-action="Index" method="get">
            <div id="collapse-10" class="collapse" role="tabpanel" aria-labelledby="heading-10" data-parent="#accordion-4" style="">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="">Report Type</label>
                            <select asp-for="ModuleName" asp-items="Model.ReportTypes" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="">Status</label>
                            <select asp-for="StatusID" asp-items="Model.Statuses" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                <option value="0">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="Code" class="">From Date</label>
                            <div id="datepicker-popup" class="input-group date datepicker" style="width: 100%;">
                                <input asp-for="FromDate" type="text" class="form-control" placeholder="DD/MM/YYYY">
                                <span class="input-group-addon input-group-append border-left">
                                    <span class="mdi mdi-calendar input-group-text"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Code" class="">To Date</label>
                            <div id="datepicker-popup1" class="input-group date datepicker" style="width: 100%;">
                                <input asp-for="ToDate" type="text" class="form-control" placeholder="DD/MM/YYYY">
                                <span class="input-group-addon input-group-append border-left">
                                    <span class="mdi mdi-calendar input-group-text"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <button id="btnFilter" type="submit" class="btn btn-primary mr-2" style="background-color: #7571f9; border-color: #7571f9;" onclick="DtSearch_Filter();">Filter</button>
                        <button id="btnReset" class="btn btn-light" onclick="DtSearch_Clear();">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" id="ViewDetails">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0 font-weight-bold">Summary</h4>
                <div class="col-md-12 summary-actions">
                    <div class="text-align-right mb-4">
                        <a class="btn btn-success btn-icon-text" id="btnExport">
                            Export to Excel
                            <i class="mdi mdi-file-excel btn-icon-append"></i>
                        </a>
                        <a class="btn btn-secondary btn-icon-text" id="btnPrint">
                            Print
                            <i class="mdi mdi-printer btn-icon-append"></i>
                        </a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing4" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Claim #</th>
                                        <th>Voucher No</th>
                                        <th>Requester</th>
                                        <th>Date Created</th>
                                        <th>Facility</th>
                                        <th>Payee</th>
                                        @*<th>Description</th>*@
                                        <th>Contact Number</th>
                                        <th>Total Claim</th>
                                        <th>Approver</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.MCNo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MstUser.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CreatedDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MstFacility.FacilityName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MstUser.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MstUser.Phone)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.GrandTotal)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Approver)
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>Actions</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.customClaimVMs)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.CNO, "Details", new { id = item.CID, cno = item.CNO }, new { @class = "", @target = "_blank" })
                                                @*@Html.DisplayFor(modelItem => item.MCNo)*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VoucherNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FacilityName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PayeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td class="text-align-right">
                                                @if (item.TotalAmount != 0)
                                                {
                                                    dAmount = Math.Round((decimal)item.TotalAmount, (int)2).ToString("###,##,##0.00");
                                                }
                                                else
                                                {
                                                    dAmount = @Math.Round((decimal)item.GrandTotal, (int)3).ToString("#,##0.00");
                                                }
                                                $@dAmount
                                            </td>
                                            <td>
                                                @if (item.ApprovalStatus != 3 && item.ApprovalStatus != 4 && item.ApprovalStatus != -5 && item.ApprovalStatus != 5)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Approver)
                                                }
                                            </td>
                                            <td>
                                                @if (item.ApprovalStatus == 3)
                                                {
                                                    <label class="badge badge-success">Approved</label>
                                                }
                                                else if (item.ApprovalStatus == 1)
                                                {
                                                    <label class="badge badge-outline-info">Awaiting verification</label>
                                                }
                                                else if (item.ApprovalStatus == 2)
                                                {
                                                    <label class="badge badge-danger">Awaiting Signatory approval</label>
                                                }
                                                else if (item.ApprovalStatus == 4)
                                                {
                                                    <label class="badge badge-danger">Request to Amend</label>
                                                }
                                                else if (item.ApprovalStatus == -5)
                                                {
                                                    <label class="badge badge-danger">Requested for Void</label>
                                                }
                                                else if (item.ApprovalStatus == 5)
                                                {
                                                    <label class="badge badge-danger">Voided</label>
                                                }
                                                else if (item.ApprovalStatus == 6)
                                                {
                                                    <label class="badge badge-danger">Awaiting approval</label>
                                                }
                                                else if (item.ApprovalStatus == 7)
                                                {
                                                    <label class="badge badge-danger">Awaiting HOD approval</label>
                                                }
                                                else if (item.ApprovalStatus == 9)
                                                {
                                                    <label class="badge badge-danger">Exported to AccPac</label>
                                                }
                                                else if (item.ApprovalStatus == 10)
                                                {
                                                    <label class="badge badge-danger">Exported to Bank</label>
                                                }
                                            </td>
                                            <td>
                                                @if (item.IsActionAllowed == true)
                                                {
                                                    @if (item.ApprovalStatus == 1)
                                                    {
                                                        <a href="#" class="btn btn-outline-primary" onclick="approvedConfirm(@item.CID,'${@item.CNO}' )">Verify</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="btn btn-outline-primary" onclick="approvedConfirm(@item.CID,'${@item.CNO}' )">Approve</a>
                                                    }

                                                    <a href="#" class="btn btn-outline-primary" onclick="rejectConfirm(@item.CID,'${@item.CNO}')">Request to Amend</a>
                                                    @*@Html.ActionLink("Approve", "Approve", new { id = item.CID }, new { @class = "btn btn-outline-primary" })
                                                        @Html.ActionLink("Reject", "Reject", new { id = item.CID }, new { @class = "btn btn-outline-primary" })*@
                                                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogApproved" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Approvedconformation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogApprovedLabel">Approve</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Do you want to Approve?
                            </span>
                            <strong id="deletedValueName">

                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnApprovesave" class="btn btn-primary mr-2" value="Yes" onclick="approveData()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenCId" />
<input type="hidden" id="hiddenCNo" />
<div class="modal fade" id="dialogReject" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Rejectconformation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h5 class="modal-title" id="dialogRejectLabel">Request to Amend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                <label>Reason : </label>
                                <input type="text" name="txtRejectReason" id="txtRejectReason" maxlength="140" class="form-control" style="width: 450px !important;" onfocus="HideError('sptxtRejectReason')" />
                                <span id="sptxtRejectReason" style="display: none"></span>
                            </span>
                            <strong id="deletedValueName">

                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnRejectsave" class="btn btn-primary mr-2" value="Save" onclick="rejectData()" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <environment names="Development">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/vendors/moment/moment.min.js"></script>
        <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table-summary.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/vendors/moment/moment.min.js"></script>
        <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table-summary.js"></script>

    </environment>
    <script>
            $(document).on('click', '.filterCollapse', function (e) {
                if ($('#collapse-10').hasClass('show')) {
                    $('#collapse-10').removeClass('show');
                }
            });

              $(document).ready(function () {
            $("#btnExport").click(function (e)
            {
                var formData = new FormData();
                formData.append('data', JSON.stringify(
                    {
                        moduleName: $("#ModuleName").val(),
                        statusID: $("#StatusID").val(),
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val()
                    }
                ));
                    $.ajax({
                        url: "/HodSummary/ExporttoExcel",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: formData,
                        processData: false,
                        contentType: false,
                         success: function (result) {
                             //alert('suc result ' + result);
                             //get the file name for download
                             if (result.fileName != "") {
                                 //alert(' file name ' + result.fileName);
                                    //use window.location.href for redirect to download action for download the file
                                 window.location.href = "@Url.Content("~/HodSummary/DownloadFile/?fileName=")" + result.fileName;
                                }
                    },
                        error: function (result) {
                        alert('fail result ' + result);
                    }
                    });
            });

            $("#btnPrint").click(function (e)
            {
                var formData = new FormData();
                formData.append('data', JSON.stringify(
                    {
                        moduleName: $("#ModuleName").val(),
                        statusID: $("#StatusID").val(),
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val()
                    }
                ));
                    $.ajax({
                        url: "/HodSummary/GetPrint",
                        type: "POST",
                        dataType: 'html',
                        contentType: 'application/json; charset=utf-8',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                              var headstr = "<html><head><title>Mileage Claim Details</title></head><body>";
                                var footstr = "</body>";
                                var oldstr = document.body.innerHTML;
                                document.body.innerHTML = headstr + data + footstr;
                                window.print();
                                document.body.innerHTML = oldstr;
                                location.reload(true);
                                return false;
                    },
                        error: function (result) {
                        alert('fail result ' + result);
                    }
                    });
                });
        });

            $(document).ready(function () {
                $('#datepicker-popup').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true,
                    endDate: new Date()
                });
                $('#datepicker-popup1').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true,
                    endDate: new Date()
                });
            });

            $('body').on('focus', ".datepicker", function () {
                $(this).datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true,
                    endDate: new Date()
                });
            });
                var approvedConfirm = function (Cid, Cno) {
                    //$('#deletedValueName').text(val);
                    $("#hiddenCId").val(Cid);
                    $("#hiddenCNo").val(Cno);
                    $('#dialogApproved').modal('show');
            }

            var rejectConfirm = function (Cid, Cno) {
                //$('#deletedValueName').text(val);
                $("#hiddenCId").val(Cid);
                $("#hiddenCNo").val(Cno);
                $('#dialogReject').modal('show');
            }

             //call this function after click on confirm delete button
        var approveData = function () {
            var cId = $("#hiddenCId").val();
            var cNo = $("#hiddenCNo").val();
            var claim = "";
            if (cNo.indexOf("MC") >= 0)
                claim = "mc";
            else if (cNo.indexOf("EC") >= 0)
                claim = "ec";
            else if (cNo.indexOf("PVC") >= 0)
                claim = "pvc";
            else if (cNo.indexOf("PVG") >= 0)
                claim = "pvg";
            else
                claim = "tbc";
            //     alert('val ' + cId);
            $('#btnApprovesave').attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                url: "/HodSummary/UpdateStatus",
                data: { id: cId, claim: claim },
                success: function (result) {
                    $("#dialogApproved").modal('hide');
                    if (result.res == '0') {
                        window.location.href = "@Url.Content("~/HodSummary/Details/")" + cId;
                    }
                    else {
                        window.location.href = "@Url.Content("~/HodSummary/Index")";
                    }
                },
                error: function () {
                    $("#dialogApproved").modal('hide');
                }
            });
        }

             //call this function after click on confirm delete button
        var rejectData = function () {
            var cId = $("#hiddenCId").val();
            var cNo = $("#hiddenCNo").val();
            var claim = "";
            if (cNo.indexOf("MC") >= 0)
                claim = "mc";
            else if (cNo.indexOf("EC") >= 0)
                claim = "ec";
            else if (cNo.indexOf("PVC") >= 0)
                claim = "pvc";
            else if (cNo.indexOf("PVG") >= 0)
                claim = "pvg";
            else
                claim = "tbc";

            //alert('claim ' + claim);
            //alert('val ' + cId);
            var reason = $('#txtRejectReason').val();
            if (!reason) {
                $('#sptxtRejectReason').html("Please Enter Request to Amend Reason");
                $('#sptxtRejectReason').css('color', 'red');
                $('#sptxtRejectReason').show();
                $('#txtRejectReason').css('border-color', 'red');
                return false;
            }
            $('#btnRejectsave').attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                url: "/HodSummary/UpdateRejectedStatus",
                data: { id: cId, reason: reason, claim: claim },
                success: function (result) {
                    $("#dialogReject").modal('hide');
                    if (result.res == '0') {
                        window.location.href = "@Url.Content("~/HodSummary/Details/")" + cId;
                    }
                    else {
                        window.location.href = "@Url.Content("~/HodSummary/Index")";
                    }
                },
                error: function () {
                    $("#dialogReject").modal('hide');
                }
            });
        }
        function HideError(SpanID) {
            //alert('Hi');
            var ErrorMsgID = document.getElementById(SpanID);
            ErrorMsgID.className = "HideBubble";
            return false;
        }

        function Print_button() {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "html",
                type: 'POST',
                url: "/HodSummary/GetPrint",
                data: JSON.stringify({}),
                success: function (data) {
                    var headstr = "<html><head><title>User Claim Details</title></head><body>";
                    var footstr = "</body>";
                    var oldstr = document.body.innerHTML;
                    document.body.innerHTML = headstr + data + footstr;
                    window.print();
                    document.body.innerHTML = oldstr;
                    location.reload(true);
                    return false;
                }
            });
        }
    </script>
}
