@model EClaimsWeb.Models.APClaimsReportViewModel

@{
    ViewData["Title"] = "User Claims Report ";
}

@section Styles{
<environment names="Development">
    <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
</environment>

<environment names="Staging,Production">
    <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
</environment>
<style>
    .HideBubble {
        display: none;
    }
</style>
}

@*<div class="row" id="ViewDetails">
    *@
    <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
        <div class="card border-bottom">
            <div class="card-header" role="tab" id="heading-10">
                <h6 class="mb-0">
                    <a data-toggle="collapse" href="#collapse-10" aria-expanded="false" aria-controls="collapse-10" class="collapsed filterCollapse">
                        Filters
                    </a>
                </h6>
            </div>
            <form class="forms-sample mt-4" id="filterform" asp-controller="UserClaimsReport" asp-action="Index" method="get">
                <div id="collapse-10" class="collapse" role="tabpanel" aria-labelledby="heading-10" data-parent="#accordion-4" style="">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="">Report Type</label>
                                <select asp-for="ModuleName" asp-items="Model.ReportTypes" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                    <option value="">All</option>
                                </select>
                                @*<select id="ddlReportType" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                    <option value="1">Mileage Claim</option>
                                    <option value="2">Expense Claim</option>
                                    <option value="3">Telephone Bill Claim</option>
                                    <option value="4">PV-Cheque Claim</option>
                                    <option value="5">PV-Giro Claim</option>
                                </select>*@
                                @*<select id="ddlRequester" asp-items="ViewBag.UserID" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                </select>*@
                            </div>
                            <div class="form-group col-md-4">
                                <label class="">Facility</label>
                                <select asp-for="FacilityID" asp-items="Model.Facilities" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="">Status</label>
                                <select asp-for="StatusID" asp-items="Model.Statuses" class="form-control js-example-basic-single w-100" style="width: 100% !important;">
                                    <option value="0">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="Code" class="">From Date</label>
                                <div id="datepicker-popup" class="input-group date datepicker" style="width: 100%;">
                                    <input asp-for="FromDate" type="text" class="form-control" placeholder="DD/MM/YYYY">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Code" class="">To Date</label>
                                <div id="datepicker-popup1" class="input-group date datepicker" style="width: 100%;">
                                    <input asp-for="ToDate" type="text" class="form-control" placeholder="DD/MM/YYYY">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <button id="btnFilter" type="submit" class="btn btn-primary mr-2" style="background-color: #7571f9; border-color: #7571f9;" onclick="DtSearch_Filter();">Filter</button>
                            <button id="btnReset" class="btn btn-light" onclick="DtSearch_Clear();">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 summary-actions">
                        <div class="text-align-right mb-4">
                            <a class="btn btn-success btn-icon-text" id="btnExportExcel">
                                Export to Excel
                                <i class="mdi mdi-file-excel btn-icon-append"></i>
                            </a>
                            <a class="btn btn-secondary btn-icon-text" id="btnExportPDF">
                                Export to PDF
                                <i class="mdi mdi-calendar btn-icon-append"></i>
                            </a>
                               @*<form method="post" asp-action="Export" asp-controller="UserClaimsReport">
                                    <input type="hidden" name="GridHtml" />
                                    <input type="submit" id="btnSubmit" value="Export To PDF" />
                                </form>*@
                        </div>
                    </div>
                    @*<div class="col-md-12 summary-actions" id="showAPExport" style="display:none">
                        <div class="text-align-right mb-4">
                            <a class="btn btn-success btn-icon-text" id="btnsubmit">
                                Export to AccPac
                                <i class="mdi mdi-file-excel btn-icon-append"></i>
                            </a>
                            <input type="hidden" id="hdfIds" name="hdfIds" />
                        </div>
                    </div>
                    <div class="col-md-12 summary-actions" id="showAPExportDownload" style="display:none">
                        <div class="text-align-right mb-4">
                            <a class="btn btn-success btn-icon-text" id="btnDownloadsubmit">
                                Download Export to AccPac
                                <i class="mdi mdi-file-excel btn-icon-append"></i>
                            </a>
                            <input type="hidden" id="hdfIds" name="hdfIds" />
                        </div>
                    </div>*@
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="table-responsive" id="table-responsive">
                                <table id="order-listing2" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <!--<th>-->
                                                @*//Check box*@
                                                <!--<input type='checkbox' id='CheckAll' />
                                            </th>-->
                                            <th>Date Created</th>
                                             <th>
                                                Voucher No
                                            </th>
                                            <th>Claim #</th>
                                            <th>Requester</th>
                                            <th>Payee</th>
                                            <th>Account Code</th>
                                            <th>Facility</th>
                                            <th>Expense Type</th>
                                            <th>Description</th>
                                            <th>Amount(Excluding GST)</th>
                                            <th>GST</th>
                                            <th>Amount(Including GST)</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.customClaimVMs)
                                        {
                                        <tr>
                                            @*<td>
                                                <input type='checkbox' id='Chk1' class='call-checkbox' value='@item.CID' onclick='CheckBoxChange(@item.CID)' />
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VoucherNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CNO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PayeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FacilityName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpenseCategory)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td class="text-align-right">
                                                $@Math.Round((decimal)item.GrandTotal, (int)3).ToString("#,##0.00")
                                            </td>
                                            <td class="text-align-right">
                                                $@Math.Round((decimal)item.GST, (int)3).ToString("#,##0.00")
                                            </td>
                                            <td class="text-align-right">
                                                $@Math.Round((decimal)item.TotalAmount, (int)3).ToString("#,##0.00")
                                            </td>
                                            <td>
                                                @if (item.ApprovalStatus == 3)
                                                {
                                                    <label class="badge badge-success">Approved</label>
                                                }
                                                else if (item.ApprovalStatus == 1)
                                                {
                                                    <label class="badge badge-outline-info">Awaiting verification</label>
                                                }
                                                else if (item.ApprovalStatus == 2)
                                                {
                                                    <label class="badge badge-danger">Awaiting Signatory approval</label>
                                                }
                                                else if (item.ApprovalStatus == 4)
                                                {
                                                    <label class="badge badge-danger">Request to Amend</label>
                                                }
                                                else if (item.ApprovalStatus == -5)
                                                {
                                                    <label class="badge badge-danger">Requested for Void</label>
                                                }
                                                else if (item.ApprovalStatus == 5)
                                                {
                                                    <label class="badge badge-danger">Voided</label>
                                                }
                                                else if (item.ApprovalStatus == 6)
                                                {
                                                    <label class="badge badge-danger">Awaiting approval</label>
                                                }
                                                else if (item.ApprovalStatus == 7)
                                                {
                                                    <label class="badge badge-danger">Awaiting HOD approval</label>
                                                }
                                                else if (item.ApprovalStatus == 9)
                                                {
                                                    <label class="badge badge-danger">Exported to AccPac - @item.ExportAccPacDate</label>
                                                }
                                                else if (item.ApprovalStatus == 10)
                                                {
                                                    <label class="badge badge-danger">Exported to Bank - @item.ExportBankDate</label>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Total</th>
                                        <td class="text-align-right">$@Math.Round((decimal)@Model.ClaimsGrandTotal, (int)2).ToString("###,##,##0.00")</td>
                                        <td class="text-align-right">$@Math.Round((decimal)@Model.ClaimsTotalAmount - @Model.ClaimsGrandTotal, (int)2).ToString("###,##,##0.00")</td>
                                        <td class="text-align-right">$@Math.Round((decimal)@Model.ClaimsTotalAmount, (int)2).ToString("###,##,##0.00")</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialogVerified" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="verifiedconformation" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background:#d9534f;color:white;">
                    <h5 class="modal-title" id="dialogVerifiedLabel">Verify</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>
                                    Do you want to verify?
                                    @Html.Hidden("itemid", "", new { id = "itemid" })
                                </span>
                                <strong id="deletedValueName">

                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="btnVerifysave" class="btn btn-primary mr-2" value="Yes" onclick="verifyData()" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialogApproved" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Approvedconformation" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background:#d9534f;color:white;">
                    <h5 class="modal-title" id="dialogApprovedLabel">Approve</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>
                                    Do you want to Approve?
                                </span>
                                @Html.Hidden("itemid", "", new { id = "itemid" })
                                <strong id="deletedValueName">

                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="btnApprovesave" class="btn btn-primary mr-2" value="Yes" onclick="approveData()" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenMCId" />
    <div class="modal fade" id="dialogReject" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Rejectconformation" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background:#d9534f;color:white;">
                    <h5 class="modal-title" id="dialogRejectLabel">Request to Amend</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>
                                    <label>Reason : </label>
                                    <input type="text" name="txtRejectReason" id="txtRejectReason" maxlength="140" class="form-control" style="width: 450px !important;" onfocus="HideError('sptxtRejectReason')" />
                                    <span id="sptxtRejectReason" style="display: none"></span>
                                </span>
                                <strong id="deletedValueName">

                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="btnRejectsave" class="btn btn-primary mr-2" value="Save" onclick="rejectData()" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*
</div>*@
@section scripts
{
<environment names="Development">
    <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendors/moment/moment.min.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
    <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/data-table.js"></script>
    <script src="~/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/js/toastNotifications.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendors/moment/moment.min.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
    <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
    <script src="~/js/file-upload.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/data-table.js"></script>
    <script src="~/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/js/toastNotifications.js"></script>
</environment>


    @if (TempData["Message"] != null)
    {
<script type="text/javascript">
            $.toast({
                text: "@TempData["Message"]",
                hideAfter: true,
                position: 'top-right',
                icon: 'success',
                allowToastClose: false,
                hideAfter: 10000,
             });</script>
    }
<script>
        $(document).on('click', '.filterCollapse', function (e) {
            if ($('#collapse-10').hasClass('show')) {
                $('#collapse-10').removeClass('show');
            }
        });
</script>
<script>
        $(document).ready(function () {
            $("#btnExportExcel").click(function (e)
            {
                var formData = new FormData();
                formData.append('data', JSON.stringify(
                    {
                        modulename: $("#ModuleName").val(),
                        facilityID: $("#FacilityID").val(),
                        statusID:$("#StatusID").val(),
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val(),
                        ClaimIds: $("#hdfIds").val()
                    }
                ));
                    $.ajax({
                        url: "/UserClaimsReport/ExporttoExcel",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: formData,
                        processData: false,
                        contentType: false,
                         success: function (result) {
                             //alert('suc result ' + result);
                             //get the file name for download
                             if (result.fileName != "") {
                                 //alert(' file name ' + result.fileName);
                                    //use window.location.href for redirect to download action for download the file
                                 window.location.href = "@Url.Content("~/UserClaimsReport/Download/?fileName=")" + result.fileName;
                                }
                    },
                        error: function (result) {
                        alert('fail result ' + result);
                    }
                    });
            });

            $("#btnExportPDF").click(function (e)
            {
                var formData = new FormData();
                formData.append('data', JSON.stringify(
                    {
                        modulename: $("#ModuleName").val(),
                        facilityID: $("#FacilityID").val(),
                        statusID:$("#StatusID").val(),
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val(),
                        ClaimIds: $("#hdfIds").val()
                    }
                ));
                    $.ajax({
                        url: "/UserClaimsReport/ExporttoPdf",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: formData,
                        processData: false,
                        contentType: false,
                         success: function (result) {
                             //alert('suc result ' + result);
                             //get the file name for download
                             if (result.fileName != "") {
                                 //alert(' file name ' + result.fileName);
                                    //use window.location.href for redirect to download action for download the file
                                 window.location.href = "@Url.Content("~/UserClaimsReport/DownloadPdf/?fileName=")" + result.fileName;
                                }
                    },
                        error: function (result) {
                        alert('fail result ' + result);
                    }
                    });
             });

        });

    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#table-responsive").html());
        });
    });

        $("#btnDownloadsubmit").click(function (e)
            {
                var formData = new FormData();
                formData.append('data', JSON.stringify(
                    {
                        modulename: $("#ModuleName").val(),
                        facilityID: $("#FacilityID").val(),
                        statusID:$("#StatusID").val(),
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val(),
                        ClaimIds: $("#hdfIds").val()
                    }
                ));
                    $.ajax({
                        url: "/FinanceReports/ExporttoExcel",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: formData,
                        processData: false,
                        contentType: false,
                         success: function (result) {
                             //alert('suc result ' + result);
                             //get the file name for download
                             if (result.fileName != "") {
                                 //alert(' file name ' + result.fileName);
                                    //use window.location.href for redirect to download action for download the file
                                 window.location.href = "@Url.Content("~/UserClaimsReport/Download/?fileName=")" + result.fileName;
                                }
                    },
                        error: function (result) {
                        alert('fail result ' + result);
                    }
                    });

            });



        var strInvoices = "";
        var Invoiceids = [];

        function CheckBoxChange(args) {

            var exists = false;
            var index = '';
            $.each(Invoiceids, function (i, val) {
                if (args == val) {
                    exists = true;
                    index = i;
                }
            });


            if (exists) {

                Invoiceids.splice(index, 1);
                strInvoices = Invoiceids.join();
            }
            else {

                Invoiceids.push(args);
                strInvoices = Invoiceids.join();
            }

            //alert($("#StatusID").val());

            $("#hdfIds").val(strInvoices);
            if ($("#StatusID").val() == 3)
            {
                $("#showAPExport").hide();
            }
            else
            {
                $("#showAPExportDownload").hide();
            }

            $('#order-listing2 input[type="checkbox"]:checked').each(function () {
                if ($("#StatusID").val() == 3) {
                    $("#showAPExport").show();
                }
                else {
                    $("#showAPExportDownload").show();
                }
            });
        }

        $('#CheckAll').click(function () {
            if ($('#CheckAll').is(':checked')) {
                $('#order-listing2 tbody tr td input[type=checkbox]').each(function () {
                    $(this).prop('checked', true);
                    Invoiceids.push($(this).val());
                });
                if ($("#StatusID").val() == 3) {
                    $("#showAPExport").show();
                }
                else {
                    $("#showAPExportDownload").show();
                }
            }
            else {
                $('#order-listing2 tbody tr td input[type=checkbox]').each(function () {
                    $(this).prop('checked', false);
                    Invoiceids.pop($(this).val());
                });
                if ($("#StatusID").val() == 3) {
                    $("#showAPExport").show();
                }
                else {
                    $("#showAPExportDownload").show();
                }
            }
            strInvoices = Invoiceids.join();

            //$("#showAPExport").show();
            $("#hdfIds").val(strInvoices);

        });

        $(document).ready(function () {
            $('#datepicker-popup').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate: new Date()
            });
            $('#datepicker-popup1').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate: new Date()
            });
        });

        $('body').on('focus', ".datepicker", function () {
            $(this).datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate: new Date()
            });
        });
                var verifyConfirm = function (Mcid) {
                    $("#hiddenMCId").val(Mcid);
                    $('#dialogVerified').modal('show');
                }
                var approvedConfirm = function (Mcid) {
                    //$('#deletedValueName').text(val);
                    $("#hiddenMCId").val(Mcid);
                    $('#dialogApproved').modal('show');
            }

            var rejectConfirm = function (Mcid) {
                //$('#deletedValueName').text(val);
                $("#hiddenMCId").val(Mcid);
                $('#dialogReject').modal('show');
        }

        //call this function after click on confirm delete button
                var verifyData = function () {
                    var mcId = $("#hiddenMCId").val();

                    $('#btnVerifysave').attr('disabled', 'disabled');
                    //alert('val ' + mcId);
                $.ajax({
                    type: "POST",
                    url: "/FinanceMileageClaim/UpdateStatus",
                    data: { id: mcId},
                    success: function (result) {
                        $("#dialogVerified").modal('hide');
                        if (result.res == '0') {
                            window.location.href = "@Url.Content("~/FinanceMileageClaim/Details/")" + mcId;
                                    }
                                    else {
                                        window.location.href = "@Url.Content("~/FinanceMileageClaim/Index")";
                                    }
                    },
                    error: function () {
                        $("#dialogVerified").modal('hide');
                    }
                });
            }
             //call this function after click on confirm delete button
                var approveData = function () {
                    var mcId = $("#hiddenMCId").val();
                    $('#btnApprovesave').attr('disabled', 'disabled');
                    //alert('val ' + mcId);
                $.ajax({
                    type: "POST",
                    url: "/FinanceMileageClaim/UpdateStatus",
                    data: { id: mcId},
                    success: function (result) {
                        $("#dialogApproved").modal('hide');
                        if (result.res == '0') {
                            window.location.href = "@Url.Content("~/FinanceMileageClaim/Details/")" + mcId;
                                    }
                                    else {
                                        window.location.href = "@Url.Content("~/FinanceMileageClaim/Index")";
                                    }
                    },
                    error: function () {
                        $("#dialogApproved").modal('hide');
                    }
                });
            }

             //call this function after click on confirm delete button
                var rejectData = function () {
                    var mcId = $("#hiddenMCId").val();
                    var reason = $('#txtRejectReason').val();
                    if (!reason) {
                        $('#sptxtRejectReason').html("Please Enter Request to Amend Reason");
                        $('#sptxtRejectReason').css('color', 'red');
                        $('#sptxtRejectReason').show();
                        $('#txtRejectReason').css('border-color', 'red');
                        return false;
                    }
                   //var id = '@ViewBag.MCID ';
                    $('#btnRejectsave').attr('disabled', 'disabled');
                $.ajax({
                    type: "POST",
                    url: "/FinanceMileageClaim/UpdateRejectedStatus",
                    data: { id: mcId,reason: reason},
                    success: function (result) {
                        $("#dialogReject").modal('hide');
                        if (result.res == '0') {
                                     window.location.href = "@Url.Content("~/FinanceMileageClaim/Details/")" + mcId;
                                    }
                                    else {
                                        window.location.href = "@Url.Content("~/FinanceMileageClaim/Index")";
                                    }
                    },
                    error: function () {
                        $("#dialogReject").modal('hide');
                    }
                });
        }
        function HideError(SpanID) {
            //alert('Hi');
            var ErrorMsgID = document.getElementById(SpanID);
            ErrorMsgID.className = "HideBubble";
            return false;
        }

        function DtSearch_Filter() {
            $('#ddlRequester').select2('val', '0')
            $('#ddlFacility').select2('val', '0')
            $('#ddlStatus').select2('val', '0')
            $('#dtFromDate').val('');
            $('#dtToDate').val('');
            //$("#error_Msg").html("");

            //var oTable = $('#AllInvoice').dataTable();
            //oTable.fnFilter();
        }

        function DtSearch_Clear() {
            $('#ModuleName option:first').attr('selected', true);
            $('#FacilityID option:first').attr('selected', true);
            $('#FromDate').val('');
            $('#ToDate').val('');
            alert('To Dateval ' + $("#ToDate").val());
        }


</script>

}
