@model EClaimsWeb.Models.ApprovalMatrixViewModel

@{
    ViewData["Title"] = "Approval Matrix ";
}

@section Styles{
    <environment names="Development">
        @*<link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
            <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">*@
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/_bundles/approval.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>
    <style>
        .HideBubble {
            display: none;
        }

        .ShowBubble {
            margin-top: -30px !important;
        }
    </style>
}
<span id="msgspan" style="padding-left: 0%; padding-top: 8px; line-height: 38px;
                            margin-top: 8px; display: none">
    <label id="msg" class="alert-danger"></label>
</span>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0 font-weight-bold">Approval Settings</h4>
                <form class="forms-sample mt-4" asp-controller="Approval" asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-6" form-group>
                            <label class="control-label">Module</label>
                            @*<select id="ModuleId" class="form-control" asp-items="@(new SelectList(@ViewBag.ModuleList,"ModuleId","ModuleName"))">
                                </select>*@
                            <select asp-for="ModuleName" asp-items="Model.Modules" class="form-control required" onfocus="HideError('error_ddlModule')">
                                @*<option value="">All</option>*@
                            </select>
                            @*<span asp-validation-for="ModuleName" class="text-danger"></span>*@
                            <span id="error_ddlModule" style="display: none">Select Module</span>
                            @*<span id="sptxtVoidReason" style="display: none"></span>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" form-group>
                            <label class="control-label">Sub Module</label>
                            <select asp-for="LScreenId" asp-items="Model.LScreens" class="form-control required" onfocus="HideError('error_ddlSubModule')">
                                @*<option value="">All</option>*@
                            </select>
                            @*<span asp-validation-for="LScreenId" class="text-danger"></span>*@
                            <span id="error_ddlSubModule" style="display: none">Select Sub Module</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" form-group>
                            <label class="control-label">Department</label>
                            <select asp-for="DepartmentID" asp-items="Model.Departments" class="form-control required">
                                @*<option value="">All</option>*@
                            </select>
                            @*<span asp-validation-for="DepartmentID" class="text-danger"></span>*@
                            <span id="error_ddlDepartment" style="display: none">Select Department</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @*<button type="submit" class="btn btn-primary mr-2" id="btn_submit" onclick="return getScreenDetails();">Filter</button>*@
                            <button type="submit" class="btn btn-primary mr-2" id="btn_submit" onclick="return getScreenDetails();">Filter</button>
                            <a class="btn btn-light" href="/Approval">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" id="ViewDetails">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0 font-weight-bold">Update Approval Settings</h4>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing4" class="table table-bordered">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.ApprovalMatrices[0].MstScreens.ScreenName)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.ApprovalMatrices[0].ApprovalRequired)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ApprovalMatrices[0].VerificationLevels)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ApprovalMatrices[0].ApprovalLevels)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    @foreach (var item in Model.ApprovalMatrices)
                                    {
                                        <tr>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.MstScreens.ScreenName)
                                                </td>*@
                                            @*<td>
                                                </td>*@
                                            <td>
                                                <input type="checkbox" asp-for="@item.ApprovalRequired" class="ml-3" id="ApprovalRequired" value="true">
                                                <input id="ApprovalRequired" name="ApprovalRequired" type="hidden" value="false">
                                                @*@Html.DisplayFor(modelItem => item.ApprovalRequired)*@
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="@item.VerificationLevels" id="VerificationLevels"
                                                       placeholder="Verification Levels" ondrop='return false;' onkeypress='return isNumber(event)' onpaste='return false'>
                                                @*@Html.DisplayFor(modelItem => item.VerificationLevels)*@
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="@item.ApprovalLevels" id="ApprovalLevels"
                                                       placeholder="Approval Levels" ondrop='return false;' onkeypress='return isNumber(event)' onpaste='return false'>
                                                @*@Html.DisplayFor(modelItem => item.ApprovalLevels)*@
                                            </td>
                                            <td>
                                                <button class="btn btn-outline-primary" href="#" id="show" onclick="EditUser(@item.AMID)" data-toggle="modal" data-target="#defaultModal">Add/Edit</button>
                                                @*<a asp-action="Edit" asp-route-id="@item.AMID">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.AMID">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.AMID">Delete</a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="defaultModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Set Finance Verifier / Signatory Approver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <input type="hidden" id="txtid" />
                    <table id="tblOne" class="table">
                        <thead>
                            <tr>
                                <td>
                                    Finance Verifier
                                </td>
                                <td>
                                    Signatory Approver
                                </td>
                                <td>
                                    Amount From
                                </td>
                                <td>
                                    To amount
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select id="ddlVerifier" name="ddlVerifier" aria-labelledby="ddlVerifier" class="form-control w-100">
                                        <option value="0">Select Finance Verifier</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="ddlApprover" name="ddlApprover" aria-labelledby="ddlApprover" class="form-control w-100">
                                        <option value="0">Select Signatory Approver</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="AmountFrom" id="txtAmountFrom" maxlength="50" class="form-control" aria-labelledby="AmountFrom" data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true,'autoUnmask': true, 'removeMaskOnSubmit': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'"
                                            onDrop="return false;" onpaste="return false" Value="0" />

                                </td>
                                <td>
                                    <input type="text" name="AmountTo" id="txtAmountTo" maxlength="50" class="form-control" aria-labelledby="AmountTo" data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true,'autoUnmask': true, 'removeMaskOnSubmit': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'"
                                            onDrop="return false;" onpaste="return false" Value="1000" />

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Submit1</button>*@
                <button data-target="#defaultModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" type="submit" id="btnSave" class="btn btn-primary mr-2" onclick="UpdateApprover()">Submit</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <environment names="Development">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        @*<script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>*@
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        @*<script src="~/js/select2.js"></script>*@
        <script src="~/js/data-table.js"></script>
        <script src="~/vendors/inputmask/jquery.inputmask.bundle.js"></script>
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    </environment>

    <environment names="Staging,Production">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        @*<script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>*@
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        @*<script src="~/js/select2.js"></script>*@
        <script src="~/js/data-table.js"></script>
        <script src="~/vendors/inputmask/jquery.inputmask.bundle.js"></script>
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    </environment>
    <script>
        $('body').on('focus', "#txtAmountFrom", function () {
            $(this).inputmask({
                alias: 'decimal', groupSeparator: ',', removeMaskOnSubmit: true, digits: 2, digitsOptional: false,
                autoGroup: true, autoUnmask: true, prefix: '$ ', placeholder: '0'
            });
        });

        $('body').on('focus', "#txtAmountTo", function () {
            $(this).inputmask({
                alias: 'decimal', groupSeparator: ',', removeMaskOnSubmit: true, digits: 2, digitsOptional: false,
                autoGroup: true, autoUnmask: true, prefix: '$ ', placeholder: '0'
            });
        });

        $('#btn_submit').on('click', function (e) {
            //if ($('#ModuleName').val() == "") {
            //    alert('Module is required');
            //    return false;
            //}
            //if ($('#LScreenId').val() == "") {
            //    alert('Claims is required');
            //    return false;
            //}
        });

        function getScreenDetails() {
            var modulename = $('#ModuleName').val();
            //alert(modulename);
            if (!modulename) {
                $('#error_ddlModule').html("Please Select Module");
                $('#error_ddlModule').css('color', 'red');
                $('#error_ddlModule').show();
                //$('#txtVoidReason').css('border-color', 'red');

                //$('#error_ddlModule').addClass("ShowBubble");
                //$('#error_ddlModule').removeClass("HideBubble");
                //$('#error_ddlModule').focus();
                //AutoHide("#error_ddlModule", "3000");
                return false
            }

            var submodule = $('#LScreenId').val();
            //alert(submodule);
            if (!submodule) {
                $('#error_ddlSubModule').html("Please Select Sub Module");
                $('#error_ddlSubModule').css('color', 'red');
                $('#error_ddlSubModule').show();
                //$('#txtVoidReason').css('border-color', 'red');

                //$('#error_ddlModule').addClass("ShowBubble");
                //$('#error_ddlModule').removeClass("HideBubble");
                //$('#error_ddlModule').focus();
                //AutoHide("#error_ddlModule", "3000");
                return false
            }

            var department = $('#DepartmentID').val();
            //alert(department);
            if (!department) {
                $('#error_ddlDepartment').html("Please Select Department");
                $('#error_ddlDepartment').css('color', 'red');
                $('#error_ddlDepartment').show();
                //$('#txtVoidReason').css('border-color', 'red');

                //$('#error_ddlModule').addClass("ShowBubble");
                //$('#error_ddlModule').removeClass("HideBubble");
                //$('#error_ddlModule').focus();
                //AutoHide("#error_ddlModule", "3000");
                return false
            }

            //var ddlScreen = $('#ddlScreen').val();
            //if (!ddlScreen) {
            //    $('#spScreen').addClass("ShowBubble");
            //    $('#spScreen').removeClass("HideBubble");
            //    $('#spScreen').focus();
            //    AutoHide("#spScreen", "3000");
            //    return false
            //}
            //var oTable = $('#tblApproval').dataTable();
            //oTable.fnFilter();
        }

        var val = 0;
        $(document).ready(function () {
            let template = null;
            $('.modal').on('show.bs.modal', function (event) {
                template = $(this).html();
            });

            $('.modal').on('hidden.bs.modal', function (e) {
                $(this).html(template);
            });
        });

        function ClearData() {
            $(this).find('#ModuleName option:first').attr('selected', true);
            $(this).find('#LScreenId option:first').attr('selected', true);
        }

        function RedirectView() {
            window.location.href = "/Approval/Index";
        }

        function UpdateApprover() {
            val = $("#txtid").val();
            //     alert('val ' + val);
            //var data = { AMID: 1, Verifier: 3, Approver: 9, AmountFrom: 5656, AmountTo: 8989 };
            //var formData = new FormData();
            //formData.append('data', JSON.stringify(data));
            //var data = { AMID: 1, Verifier: 3, Approver: 9, AmountFrom: 5656, AmountTo: 8989 };
            var formData = new FormData();
            //formData.append('data', JSON.stringify(data));

            var clsApprovers = new Array();
            //var clsApprover = {};
            $('#tblOne tbody').find('tr').each(function (i) {
                var $tds = $(this).find('td');
                ddlVerifier = $tds.find('#ddlVerifier').val();
                ddlApprover = $tds.find('#ddlApprover').val();
                AmountFrom = $tds.find('#txtAmountFrom').val();
                AmountTo = $tds.find('#txtAmountTo').val();
                var clsApprover = {};
                //clsApprover.ApprovalLevels = 4;
                //clsApprover.VerificationLevels = 6;
                clsApprover.AMID = val;
                clsApprover.Verifier = ddlVerifier;
                clsApprover.Approver = ddlApprover;
                clsApprover.AmountFrom = AmountFrom;
                clsApprover.AmountTo = AmountTo;

                //alert('clsApprover ' + clsApprover);
                clsApprovers.push(clsApprover);
            });
            formData.append('data', JSON.stringify(clsApprovers));
            if (clsApprovers.length != 0) {
                //var listdata1 = JSON.stringify({ 'listdata': Params1 });
                //alert('listdata1 ' + clsApprovers);
                $.ajax({
                    type: "POST",
                    url: "/Approval/SaveApprover",
                    data: formData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    // data: clsApprovers,
                    //data: { clsApprover: JSON.stringify(clsApprover) },
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    //dataType: 'json',
                    //type: 'POST',
                    //url: "/ApprovalSettings/SaveApprover",
                    //data: listdata1,
                    success: function (data) {
                        if (data) {
                            //alert("Successfully saved");
                            //$("#btnsaveUser").trigger( "click" );
                            // $("#dialog1").dialog('close')
                            //$("#tblOne").find("tr:not(:nth-child(1)):not(:nth-child(1))").remove();
                            //deactivate();
                            //$('#defaultModal').modal({ backdrop: 'static', keyboard: false })
                            //alert('val inside ' + val);
                            //$("#defaultModal").modal("hide");
                            //$("#defaultModal").modal("dispose");
                            Updatedata();
                            //alert("Dt details saved successfully");

                            //$("#msgspan").fadeIn();
                            //$("#NotificationMsg").html('Approver Added Successfully');
                            //$("#msgspan").fadeOut(1500);
                        }
                    }
                });
                //window.location.reload();
            }
        }

        function Updatedata() {
            var Params = new Array();

            var formData = new FormData();
            $('#order-listing4 tbody').find('tr').each(function (i) {

                var $tds = $(this).find('td'),
                    productId = $tds.eq(0).text(),
                    productId = productId.trim();
                ////alert('$("#txtid").val() ' + $("#txtid").val());
                //var val = $("#txtid").val();
                //alert('before save ' + val);
                if (val) {

                    // var status = $(this).find('#status');
                    var status = $tds.find("#ApprovalRequired").toggle(this.checked);
                    if (status.is(':checked')) {

                        active = true;

                    }
                    else {
                        active = false;
                    }

                    var Verification = $tds.find('#VerificationLevels').val();
                    var Approval = $tds.find('#ApprovalLevels').val();

                    Params.push({ AMID: val, ApprovalRequired: active, VerificationLevels: Verification, ApprovalLevels: Approval });

                }


            });
            formData.append('data', JSON.stringify(Params));
            //var listdata = JSON.stringify({ 'listdata': Params });
            $.ajax({
                type: "POST",
                url: "/Approval/SaveItems",
                data: formData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data) {

                        //alert('Approval Matrix Updated Successfully');
                        $("#msgspan").fadeIn();
                        //$("#NotificationMsg").html('Approval Matrix Updated Successfully');
                        //$("#msg").html("Approval Matrix Updated Successfully").css("color", "green");
                        $.toast({
                            text: 'Approval Matrix Updated Successfully',
                            hideAfter: true,
                            position: 'top-right',
                            icon: 'success',
                            allowToastClose: true,
                            hideAfter: 5000,
                        });
                        $("#msgspan").fadeOut(1500);
                    }
                }
            });
            //data.DataTable({
            //    "sPaginationType": "bootstrap",
            //    "sDom": "<'tableHeader'<l><'clearfix'f>r>t<'tableFooter'<i><'clearfix'p>>",
            //    "iDisplayLength": 10
            //});

            //  window.location.reload();
            //var oTable = $('#tblApproval').dataTable();
            //oTable.fnFilter();
        }

        function isNumber(evt) {
            //alert("number");
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 47 || charCode > 57) && charCode != 44) {
                return false;
            }
        }

        function HideError(SpanID) {
            //alert('Hi');
            var ErrorMsgID = document.getElementById(SpanID);
            ErrorMsgID.className = "HideBubble";
            return false;
        }

        function EditUser(args) {
            $(function () {
                // var ddlApprover = $("#ddlApprover");
                //  ddlApprover.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
                $.ajax({
                    type: "POST",
                    url: "/Approval/ReturnJSONDataToAJax",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $(response).each(function () {
                            //alert('binding dropdown values');
                            $("#ddlVerifier").append($("<option></option>").val(this.userID).html(this.name));
                            $("#ddlApprover").append($("<option></option>").val(this.userID).html(this.name));
                        });

                        var Verification;
                        var V;
                        var A;
                        //alert(args);
                        $("#txtid").val(args);
                        //alert($("#txtid").val());
                        $('#order-listing4 tbody').find('tr').each(function (i) {
                            var $tds = $(this).find('td'),
                                productId = $tds.eq(0).text(),
                                productId = productId.trim();
                            V = $tds.find('#VerificationLevels').val();
                            A = $tds.find('#ApprovalLevels').val();

                            if (parseInt(V) > parseInt(A)) {
                                Verification = V;
                            }
                            else {
                                Verification = A;
                            }
                            //alert('V ' + V);
                            //alert('A ' + A);
                            //alert('Verification ' + Verification);

                        });
                        if (Verification > 1) {
                            var message = "";
                            var table = document.getElementById("tblOne");
                            var row = table.rows[1];
                            for (var k = 0; k < Verification - 1; k++) {
                                var message = "";
                                for (var j = 0; j < row.cells.length; j++) {
                                    if (j == 0) {
                                        if (k < V - 1) {
                                            var cell = row.cells[j];
                                            message += "<td  valign='middle' align='center' >" + cell.innerHTML + "</td>";
                                        }
                                        else {
                                            message += "<td  valign='middle' align='center' ></td>";
                                        }
                                    }
                                    else if (j == 1) {
                                        if (k < A - 1) {
                                            var cell = row.cells[j];
                                            message += "<td  valign='middle' align='center' >" + cell.innerHTML + "</td>";
                                        }
                                        else {
                                            message += "<td  valign='middle' align='center' ></td>";
                                        }
                                    }
                                    else {
                                        var cell = row.cells[j];
                                        message += "<td  valign='middle' align='center' >" + cell.innerHTML + "</td>";
                                    }


                                }
                                $("#tblOne").append('<tr>' + message + '</tr>');

                            }

                            message = "";
                        }
                        $.getJSON("@Url.Content("~/Approval/getdata/")" + args, function (data) {
                            if (data != null && data.length != 0) {
                                var len = data.length;
                                //alert('len ' + len);
                                var values = [];
                                for (var i = 0; i < len; i++) {

                                    $('#tblOne tbody').find('tr').each(function (j) {
                                        if (i == j) {
                                            var $tds = $(this).find('td');

                                            if (V == "0") {
                                                $tds.find('#ddlVerifier').prop("disabled", false);
                                                $tds.find('#ddlVerifier').prop('selectedIndex', 0);
                                                if (data[i].verifier != 0) {
                                                    $tds.find('#ddlVerifier').val(data[i].verifier);
                                                }
                                            }
                                            else if (data[i].verifier == 0) {
                                                $tds.find('#ddlVerifier').prop('selectedIndex', 0);
                                            }
                                            else {
                                                $tds.find('#ddlVerifier').val(data[i].verifier);
                                            }
                                            if (A == "0") {
                                                $tds.find('#ddlApprover').prop("disabled", false);
                                                $tds.find('#ddlApprover').prop('selectedIndex', 0);
                                            }
                                            else if (data[i].approver == 0) {
                                                $tds.find('#ddlApprover').prop('selectedIndex', 0);
                                            }
                                            else {
                                                $tds.find('#ddlApprover').val(data[i].approver);
                                            }
                                            $tds.find('#txtAmountFrom').val(data[i].amountFrom);
                                            $tds.find('#txtAmountTo').val(data[i].amountTo);
                                        }
                                    });
                                }

                            }
                            else {
                                $('#tblOne tbody').find('tr').each(function (j) {

                                    var $tds = $(this).find('td');

                                    if (V == "0") {
                                        $tds.find('#ddlVerifier').prop("disabled", false);
                                        $tds.find('#ddlVerifier').prop('selectedIndex', 0);
                                    }
                                    else {
                                        $tds.find('#ddlVerifier').prop('selectedIndex', 0);
                                    }
                                    if (A == "0") {
                                        $tds.find('#ddlApprover').prop("disabled", false);
                                        $tds.find('#ddlApprover').prop('selectedIndex', 0);
                                    }
                                    else {
                                        $tds.find('#ddlApprover').prop('selectedIndex', 0);
                                    }
                                });
                            }
                        });
                        //ddlApprover.empty().append('<option selected="selected" value="0">Please select</option>');
                        //$.each(response, function () {
                        //    if (response.length > 0) {
                        //        $('#ddlApprover').html('');
                        //        var options = '';
                        //        options += '<option value="Select">Select</option>';
                        //        for (var i = 0; i < response.length; i++) {
                        //            options += '<option value="' + response[i] + '">' + response[i] + '</option>';
                        //        }
                        //        $('#ddlApprover').append(options);
                        //    }
                        //});
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        }

        $("#ModuleName").change(function () {
            getScreensByModule();
        });

        var getScreensByModule = function () {
            $.ajax({
                url: '@Url.Action("GetScreens", "Approval")',
                type: 'GET',
                data: {
                    moduleName: $('#ModuleName').val(),
                },
                success: function (data) {
                    $('#LScreenId').find('option').remove()
                    $(data).each(
                        function (index, item) {
                            $('#LScreenId').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
            });
        }
    </script>
}
