@model IEnumerable<EClaimsEntities.Models.MstExpenseCategory>

@{
    ViewData["Title"] = "Manage Expense Category ";
}

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/vendors/select2/select2.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true" />
    </environment>
}

<div class="row">
    <div class="col-md-12 summary-actions" id="btnRow">
        <div class="text-align-right mb-4">
            <a class="btn btn-primary btn-icon-text" asp-action="Create">
                Add New Expense Category
                <i class="mdi mdi-library-plus btn-icon-append"></i>
            </a>
        </div>
    </div>
</div>
<div class="row" id="ViewDetails">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0 font-weight-bold">View Expense Category</h4>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="tblExpenseCategory" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CategoryCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Default)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ExpenseCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MstClaimType.ClaimType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MstCostStructure.CostStructure)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MstCostType.CostType)
                                        </th>
                                        <th>
                                            GST
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Default)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpenseCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MstClaimType.ClaimType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MstCostStructure.CostStructure)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MstCostType.CostType)
                                        </td>
                                        <td>
                                            @if (item.IsGSTRequired)
                                            {
                                                <label class="badge badge-success">Yes</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-danger">No</label>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsActive)
                                            {
                                                <label class="badge badge-success">Active</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-danger">Inactive</label>
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseCategoryID }, new { @class = "btn btn-outline-primary" })
                                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <environment names="Development">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/vendors/typeahead.js/typeahead.bundle.min.js" asp-append-version="true"></script>
        <script src="~/vendors/select2/select2.min.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
        <script src="~/js/file-upload.js"></script>
        <script src="~/js/typeahead.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/data-table.js"></script>
    </environment>

<script>
    $('#tblExpenseCategory').DataTable({
        "aLengthMenu": [
            [5, 10, 15, -1],
            [5, 10, 15, "All"]
        ],
        "iDisplayLength": 10,
        "language": {
            search: ""
        },
        //"scrollY": false,
        "scrollX": true
        //"sScrollX": "100%",
        //"sScrollXInner": "110%",
    });
</script>
}
