
@model List<EClaimsWeb.Models.MileageClaimVM>

@{
    ViewBag.Title = "GetMileagePrint";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css" media="print">
        @@media print {

            @@page {
                size: auto !important;
                max-height: 100%;
                max-width: 100%
            }
        }
    </style>
</head>
<body>

    <div style="width:100%; text-align:center;"><h4>Mileage Claims</h4></div>
    <br />

    <table class="print-friendly" width="100%" border="0" style="font-size:10px; text-align:center;">

        <tr style="line-height:14px">
            <td>Claim</td>
            <td>Requester</td>
            <td>Date Created</td>
            <td>Facility</td>
            <td>Payee</td>
            <td>Contact Number</td>
            <td>Total Claim</td>
            <td>Approver</td>
            <td>Status</td>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr style="line-height:13px">
                @*<td style="text-align:left;width:12%;">@item.MCNo</td>*@
                <td>@item.MCNo</td>
                <td>@item.Name</td>
                @*<td style="text-align:left;width:20%;">@item.CreatedDate</td>*@
                <td>@item.CreatedDate</td>
                <td>@item.FacilityName</td>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                @*@if (ViewBag.BRtype != "All")
        {
            <td>@Convert.ToDateTime(item.BillingStartDate).ToString("dd/MM/yyyy") </td>
            <td>@Convert.ToDateTime(item.BillingEndDate).ToString("dd/MM/yyyy")</td>
        }*@
                <td class="text-align-right">$@Math.Round((decimal)item.GrandTotal, (int)3).ToString("#,##0.00")</td>
                @if (item.ApprovalStatus != 3 && item.ApprovalStatus != 4 && item.ApprovalStatus != -5 && item.ApprovalStatus != 5)
                {
                    <td>@item.Approver</td>
                }
                else
                {
                    <td></td>
                }
                <td>@item.ApprovalStatusName</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
